<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onedrop.androidchallenge.feature.weather">


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application>
        <activity
            android:name="com.onedrop.androidchallenge.feature.weather.WeatherActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.WeatherChallenge.NoActionBar" />
    </application>
</manifest>